*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 100px;
    width: 100%;
    background-color: red;
    .brand-logo{
        font-size: 32px;
        font-weight: bold;
        color:yellow;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            list-style: none;
            margin-left: 32px;
            a{
                text-decoration: none;
                font-size: 18px;
                line-height: 32px;
                color:yellow;
            }
        }
    }
}